@font-face{
  font-family: Bebas;
  src: url(Bebas_Neue.ttf) format("truetype");
}


@font-face { 
    font-family: shoppingscript; src: url('Shopping_Script_Demo.ttf'); 
}
@font-face{ 
    font-family: shoppingscript_IE; src: url('Shopping_Script_Demo.eot'); 
}
.my_font{ 
    font-family: shoppingscript, shoppingscript_IE, shoppingscript; 
}



body, p, div, ul, ol, li, span, strong, h1, h2,h3, img{
  margin:0; 
  padding:0;
}


html, body {
    height: 100%;
}

body {
  background-color:#FAD03E;/*#FAD03E;*/
}


/*DG TOP BANNER*/

h1 {
  font-family: shoppingscript_IE;
  font-size: 100px;
  color:#5F442A;
  font-weight: lighter;
  height:120px;
  width:100%;
  background-color:#FAD03E;/*#FAD03E*/
  text-align: center;
  margin: 0px 0 0 0px;
}

.banner{ 
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     z-index:5;
}

/*PAGE SECTION*/

h2{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.section{
  font-family: Bebas;
  color: #5F442A;
  letter-spacing: 3px;
  font-size:20px;
  background-color:#FAD03E;/*#FAD03E*/
  text-align:center;
  vertical-align: middle;
  margin:0 auto;
  position: fixed;
  top:120px;
  height:50px;
  width:100%;
  padding:0;
  border: none;
  z-index:5;
}

h3{
  font-family: Bebas;
  color:#5F442A;
  letter-spacing: 0.5px;
  word-spacing:100px;
  font-weight: lighter;
  font-size:15px;
  vertical-align:middle;
  margin-top:10px;

}

/*VERTICAL LINE*/
hr { width:20%;
   border-color: #5F442A;
   background-color: #5F442A;
   color: #5F442A;
  }


h2+hr{
  position:absolute;
  top:60%;
  left:40%;
}

/*LINK*/
a{
  color:#5F442A;
  text-decoration:none;
}

/*HAMBURGER*/

a
{
  transition: color 0.3s ease;
}

a:hover
{
  color: darkorange;
}

#menuToggle
{
  display: block;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 11;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 12; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background:#5F442A; /*#cdcdcd;*/
  border-radius: 3px;
  
  z-index: 11;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #5F442A;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 25%;
  margin: -100px 0 0 0px;
  padding: 50px;
  padding-top: 125px;
  
  background: transparent;/*#ededed;*/
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-300%, 0%);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  font-family:Bebas;
  padding: 8px 0;
  font-size: 22px;
  letter-spacing: 3px; 
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}



/*MEDIA POTRAIT MODE*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) {
  
                      h3{
                        font-family: Bebas;
                        color:#5F442A;
                        letter-spacing: 0.5px;
                        word-spacing:100px;
                        font-weight: lighter;
                        font-size:20px;
                        vertical-align:middle;
                        margin-top:5px;
                      }


                      .navigation{
                        background-color:#FAD03E;/*#FAD03E;*/
                        width:100%;
                        height:40px;
                        position:fixed;
                        left:0;
                        bottom:0;
                        z-index: 6;
                      }

h1 {
  font-family: shoppingscript;
  font-size: 8vmax;
  color:#5F442A;
  font-weight: lighter;
  width:100vw;
  text-align: center;
  margin: 0 0 0 0;
  padding:0;
}

.banner{ 
     position: fixed;
     top: 0;
     left: 0;
     height:10vmax;
     width: 100vw;
     z-index:5;
     background-color:#FAD03E;
}



  
  h2{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-weight:lighter;
}

.section{
  font-family: Bebas;
  color: #5F442A;
  letter-spacing: 0.25vmax;
  font-size:1.5vmax;
  font-weight: lighter;
  background-color:#FAD03E;/*#FAD03E*/
  text-align:center;
  vertical-align: middle;
  margin:0 auto;
  position: fixed;
  top:9.9vmax;
  left:0vw;
  height:5.1vmax;
  width:100vw;
  padding:0;
  border: none;
  z-index:5;
}
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape) {
  
  #menu
{
  padding-top: 50px;
}

h1 {
  font-family: shoppingscript;
  font-size: 8vmax;
  color:#5F442A;
  font-weight: lighter;
  width:100vw;
  text-align: center;
  margin: 0 0 0 0;
  padding:0;
}

.banner{ 
     position: fixed;
     top: 0;
     left: 0;
     height:10vmax;
     width: 100vw;
     z-index:5;
     background-color:#FAD03E;
}

    h2{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-weight:lighter;
}

.section{
  font-family: Bebas;
  color: #5F442A;
  letter-spacing: 0.25vmax;
  font-size:1.5vmax;
  font-weight: lighter;
  background-color:#FAD03E;/*#FAD03E*/
  text-align:center;
  vertical-align: middle;
  margin:0 auto;
  position: fixed;
  top:10vmax;
  left:0vw;
  height:5vmax;
  width:100vw;
  padding:0;
  border: none;
  z-index:5;
}

  #menu li
{

  font-size: 18px;
}

}
